@import "tailwindcss";

@theme {
  --whacolor-gmi-darkblue: #141753;
  --color-gmi-orange: #e17c22;
}

:root {
  --background: #f5f9f6;
  --foreground: #141753;
}

html {
  scroll-behavior: smooth;
}

.mobile-nav summary::-webkit-details-marker {
  display: none;
}

.mobile-nav summary {
  list-style: none;
}